<div class="row mt-3">
  <% @products.each_slice(3) do |row| %>
    <% row.each do |product| %>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <%= image_tag product.photo, class: 'card-img-top' %>
        <div class="card-body text-center">
          <h5> <%= product.name %> </h5>
          <p> <%= product.price %> </p>
          <%= link_to 'Comprar', product_orders_path(product), class: 'btn btn-success', method: :post %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="w-100" style="margin-top: 20px"></div>
  <% end %>
</div>