<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <% if user_signed_in? %>
        <a href="<%= root_path %>" class="nav-link">Bienvenido: <%= current_user.email %></a>
        <a href="<%= destroy_user_session_path %>" data-method="DELETE" class="btn btn-outline-danger ml-2">Salir</a>
        <a class="btn btn-outline-success ml-2" href="<%= orders_path %>">Carro de Compras</a>
      <% else %>    
        <a href="<%= new_user_session_path %>" class="btn btn-outline-primary">Ingresar</a>
        <a href="<%= new_user_registration_path %>" class="btn btn-outline-primary ml-2">Registrarse</a>
      <% end %>
    </ul>
  </div>
</nav>